<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Cell - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="" rel="pulic">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Placement Cell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
            <li class="nav-item active"><a class="nav-link" href="/students">For Students</a></li>
            <li class="nav-item"><a class="nav-link" href="/recruiters">For Recruiters</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
            <li class="nav-item">
                <form action="/signout" method="post">
                    <button type="submit" class="btn btn-outline-light">SignOut</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

    </header>


    
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Placement Cell</h1>
            <p class="lead">We bridge the gap between students and recruiters, providing the best opportunities for both.</p>
        </div>

            <main class="container mt-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image002.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image005.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image004.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image006.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image010.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image012.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image014.gif"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image016.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image020.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image025.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image027.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image029.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image023.jpg"  class="img-fluid mb-3">
            </div>
            <div class="col-lg-3">
                <img src="https://www.kongu.ac.in/placement/logo/index_clip_image035.gif"  class="img-fluid mb-3">
            </div>
        </div>

    </main>


    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Placement Cell. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
