.carousel-item{
    height:100vh;
    min-height:300px;
    background:no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size:cover;
}
.carousel-caption{
    bottom:220px;
}
.carousel-caption h1{
    font-size: 50px;
    letter-spacing:2px;
    margin-top:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    text-align: left;
}
.carousel-caption h3{
    font-size: 30px;
    letter-spacing:2px;
    margin-top:25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    text-align: left;
}
.a h1 {
    color:white;
}
.a h3{
    color:white;
}
.text-center my-5S{
    text-align: center;
    font-size:20px;
}
.container h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row h1{
    color:coral;

}
.row p{
    font-size:20px;
}
.card{
    box-shadow:15px 20px 20px rgba(0,0,0,0.3),
               inset 4px 4px 10px white;
    transition: .2s;
    border: none;
    overflow: hidden;
               
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3)
                inset -4px -4px 10px white;
    transition: .2s;            
}